@font-face{
  font-family: "virtus1";
  src: url(./fonts/Virtuous-Slab.otf) format("truetype");
}

@font-face{
  font-family: "sourceSansLight";
  src: url(./fonts/SourceSansPro-Light.ttf) format("truetype");
}

@font-face{
  font-family: "sourceSansBold";
  src: url(./fonts/SourceSansPro-Bold.ttf) format("truetype");
}

@font-face{
  font-family: "loves";
  src: url(./fonts/LOVES.ttf) format("truetype");
}

@font-face{
  font-family: "louis";
  src: url(./fonts/Louis\ George\ Cafe\ Light.ttf) format("truetype");
}

@font-face{
  font-family: "rubik";
  src: url(./fonts//Rubik-Regular.ttf) format("truetype");
}

@font-face{
  font-family: "rubikLight";
  src: url(./fonts/Rubik-Light.ttf) format("truetype");
}

@font-face{
  font-family: "rubikBold";
  src: url(./fonts/Rubik-Bold.ttf) format("truetype");
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 1280px) {
/* Header */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5rem 3rem;
}

#logo {
  margin-right: auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
  font-size: 1.8rem;
  font-family: 'sourceSansLight';
}

  header a:hover {
    color: #6C63FF;
  }

  /* LandingPage */

  .main-container{
    display: flex;
    flex-direction: row;
    height: 60vh;

  }
  
  .main-section{
    width: 50vw;
    height: auto;
    flex-wrap: wrap;
    align-self: center;
 
  }
  .main-text{
    margin: 5rem 5rem 5rem 5rem;
    font-family: 'sourceSansLight';
    font-size: 3rem;
  
  }

  .main-h{
    font-family: "sourceSansBold";
  }
  
  .main-p{
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
  }
  
  .main-image-zone{
    display: flex;
    width: 50vw;
  }
  
  .main-image{
    width: 100%;
    max-width: 40rem;
    height: auto;
    align-self: center;
    margin: 5rem 5rem 5rem 5rem;
  }
  
  .main-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  
  .start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 1.125rem;
    background: #484C69;
    color: #fff;
  }
  
  svg {
    margin: 0 0 0 10px;
  }
  
  .start-button:hover svg {
    margin: 0 0 0 25px;
    transition: 0.3s;
  }
  
  .start-button:not(:hover) svg {
    transition: 0.3s;
  }
  
  .start-button:active {
    transform: scale(0.9, 0.9);
    transition: 200ms;
  }
  
  .start-button:not(:active) {
    transition: 200ms;
  }

  /* Achievments Section CSS */

  .card {
    color: white;
    display: flex;
    height: 15vh;
    align-items: center;
    font-family: "sourceSansBold";
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #ebeef0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }
   
   .card .item {
    margin: 0 2rem 0 2rem;  
    border-radius: 10px;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 7px;
   }
   
   .item {
   }
   
   .quantity {
    font-size: 2rem;
    font-weight: 600;
    color: #444444;
   }
   
   .text {
    font-size: 2rem;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text {
    color: #444444;
   }

   .logos{
    width: 3rem;
   }

  /* Teams Section CSS */
  .teams-container{
    display: flex;
    height: 50vh;
  }
  .teams-section{
    width: 50%;
    height: 70%;
    margin: 8rem 5rem 7rem 5rem;
  }
  .teams-text{
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
  }
  .teams-p1{
    
    font-family: "loves";
    font-size: 1.4rem;
  }
  .teams-p2{
    
    font-family: "sourceSansLight";
    font-size: 1.5rem;
    text-align: justify;
  }
  .teams-h{
    font-family: "sourceSansBold";
    font-size: 3rem;
  }
  .teams-image-zone{
    width: 50%;
    height: 70%;
    overflow: hidden;
    position: relative;
    background-image: url("./images/saprissa.jpg");
    border-radius: 16px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 

    animation: change 20s infinite ease-in-out;
    margin: 3rem 5rem 2rem 2rem;
    
  }

  @keyframes change{
    0%{
      background-image: url("./images/saprissa.webp");
    }
    33%{
      background-image: url("./images/saprissa.webp");
    }
    34%{
      background-image: url("./images/eclipse.webp");
    }
    66%{
      background-image: url("./images/eclipse.webp");
    }
    67%{
      background-image: url("./images/pirate.webp");
    }
    100%{
      background-image: url("./images/pirate.webp");
    }
  }
  .teams-image{


  }
  .author{    
    font-family: "sourceSansBold";
    font-size: 3rem;
  }
  .author-team{
    font-family: "sourceSansLight";
    font-size: 1.5rem;
    text-align: justify;
  }
 

  #spin:after{
    content: "";
    animation: spin 20s linear infinite;

  }

  @keyframes spin{
    0%{
      content: "Review number one about the scrim tracker, 1";
    }
    33%{
      content: "Review number one about the scrim tracker, 1";
    }
    34%{
      content: "Review number two about the scrim tracker, 2";
    }
    66%{
      content: "Review number two about the scrim tracker, 2";
    }
    67%{
      content: "Review number three about the scrim tracker, 3";
    }
    100%{
      content: "Review number three about the scrim tracker, 3";
    }
  }
  #spin2:after{
    content: "";
    animation: spin2 20s linear infinite;

  }

  @keyframes spin2{
    0%{
      content: "coach1";
    }
    33%{
      content: "coach1";
    }
    34%{
      content: "coach2";
    }
    66%{
      content: "coach2";
    }
    67%{
      content: "coach3";
    }
    100%{
      content: "coach3";
    }
  }
  #spin3:after{
    content: "";
    animation: spin3 20s linear infinite;
  }

  @keyframes spin3{
    0%{
      content: "Head coach for team number one";
    }
    33%{
      content: "Head coach for team number one";
    }
    34%{
      content: "Head coach for team number two";
    }
    66%{
      content: "Head coach for team number two";
    }
    67%{
      content: "Head coach for team number three";
    }
    100%{
      content: "Head coach for team number three";
    }
  }
  /* Features */
  .features-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to left, #ffffff, #ebeef0);
  }
  .features-container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-container2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .features-container3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-h{
    font-family: "loves";
  }
  .features-p{
    font-family: "sourceSansLight";
    font-size: 1.5rem;
  }

  .h-divider {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }

  /* Contact page */

  .contact-container{
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    background-color: #E4E5F1;
   }

   .contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 2rem;
    justify-self: center;

   }
   .contact-image{
    width: 50%;
    max-width: 30rem;
    height: auto;
   }
  .contact-header{
    font-family: "loves";
    margin-right: 3rem;
  }
  .contact-p{
    font-family: "louis";
    font-size: 1.5rem;
  }

  .cssbuttons-io-button {
    background: #484C69;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    margin-right: 13rem;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #686ea0;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }


  /* Footer CSS */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #4D4C72;
  }
  .footer-logo{
    padding-top: 1rem;
    width: 3rem;
    height: auto;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.685);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #d6d1d1;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }


  .splitter-container{
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to left, #ffffff, #ebeef0);
  }
}

/* ---------------- Media Queries for Mobile settings ------------ */
@media only screen and (max-width: 1280px) {
/* Header */
header {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2rem;
  margin-bottom: 7rem;
}

#logo {
  margin-right: auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
  font-size: 1.8rem;
  font-family: 'sourceSansLight';
}

/* Hamburger menu */
.hamburger{
  display: block;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar:nth-child(2){ 
  opacity: 0;
}
.hamburger.active .bar:nth-child(1){ 
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg); 
} 

.nav-menu{
  display: flex;
  position: fixed;
  left: -100%;
  top: 0;
  gap: 0;
  flex-direction: column;
  width: 100%;
  text-align:center;
  transition: 0.3s;
  background: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-item{
  margin: 16px 0;
}

.nav-menu.active{
  left: 0;
}

.nav-link.hover{
  color: #D9B311
}

  header a:hover {
    color: #6C63FF;
  }

  /* LandingPage */

  .main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    justify-content: center;
    margin-top: 10rem;
  }
  
  .main-section{
    width: 100%;
    height: auto;
    display: flex;
  }
  
  .main-text{
    margin: 0rem 2rem 0rem 2rem;
    font-family: 'sourceSansLight';
  }
  
  .main-h{
    text-align: center;
    font-family: "sourceSansBold";
    font-size: 4rem;
  }

  .main-p{
    font-size: 1.2rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  
  .main-image-zone{
    display: flex;
    width: 100vw;
    justify-content: center;

  }
  
  .main-image{
    width: 100%;
    max-width: 35rem;
    height: auto;
  }
  
  .main-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    justify-content: center;
  }
  
  .start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 3.125rem;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 1rem;
    background: #484C69;
    color: #fff;
  }
  
  svg {
    margin: 0 0 0 10px;
  }
  
  .start-button:hover svg {
    margin: 0 0 0 25px;
    transition: 0.3s;
  }
  
  .start-button:not(:hover) svg {
    transition: 0.3s;
  }
  
  .start-button:active {
    transform: scale(0.9, 0.9);
    transition: 200ms;
  }
  
  .start-button:not(:active) {
    transition: 200ms;
  }

  /* Achievments Section CSS */

  .card {
    margin-top: 10rem;
    padding: 3rem 0 3rem 0;
    display: flex;
    flex-direction: column;
    height: 65vh;
    align-items: center;
    font-family: "sourceSansBold";
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffffff, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffffff, #ebeef0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }
   
   .card .item {
    margin: 0 2rem 0 2rem;  
    border-radius: 10px;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 3rem;
    height: 3rem;
    margin-bottom: 7px;
   }
   
   .item {
   }
   
   .quantity {
    font-size: 2rem;
    font-weight: 600;
    color: #444444;
   }
   
   .text {
    font-size: 1.5rem;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text {
    color: #444444;
   }

   .logos{
    width: 2rem;
   }

     /* Teams Section CSS */
  .teams-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 2rem;
  }
  .teams-section{
    width: 80%;
    height: 70%;
  }
  .teams-text{
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .teams-p1{
    font-family: "louis";
    font-size: 1rem;
    text-align: center;
  }
  .teams-p2{
    font-family: "sourceSansLight";
    font-size: 1rem;
    text-align: justify;
    text-align: center;
  }
  .teams-h{
    font-family: "sourceSansBold";
    font-size: 1.5rem;
    text-align: center;
  }

  .author{    
    font-family: "sourceSansBold";
    font-size: 1.3rem;
  }
  .author-team{
    font-family: "sourceSansLight";
    font-size: 1rem;
    text-align: justify;
    text-align: center;

  }
  .teams-image-zone{
    width: 80%;
    height: 70%;
    overflow: hidden;
    position: relative;
    background-image: url("./images/saprissa.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain; 
    justify-content: center; 
    animation: change 20s infinite ease-in-out;
    margin: 2rem 2rem 2rem 2rem;
  }

  @keyframes change{
    0%{
      background-image: url("./images/saprissa.webp");
    }
    33%{
      background-image: url("./images/saprissa.webp");
    }
    34%{
      background-image: url("./images/eclipse.webp");
    }
    66%{
      background-image: url("./images/eclipse.webp");
    }
    67%{
      background-image: url("./images/pirate.webp");
    }
    100%{
      background-image: url("./images/pirate.webp");
    }
  }
  .teams-image{


  }

  #spin:after{
    content: "";
    animation: spin 20s linear infinite;

  }

  @keyframes spin{
    0%{
      content: "Review number one about the scrim tracker, 1";
    }
    33%{
      content: "Review number one about the scrim tracker, 1";
    }
    34%{
      content: "Review number two about the scrim tracker, 2";
    }
    66%{
      content: "Review number two about the scrim tracker, 2";
    }
    67%{
      content: "Review number three about the scrim tracker, 3";
    }
    100%{
      content: "Review number three about the scrim tracker, 3";
    }
  }
  #spin2:after{
    content: "";
    animation: spin2 20s linear infinite;

  }

  @keyframes spin2{
    0%{
      content: "coach1";
    }
    33%{
      content: "coach1";
    }
    34%{
      content: "coach2";
    }
    66%{
      content: "coach2";
    }
    67%{
      content: "coach3";
    }
    100%{
      content: "coach3";
    }
  }
  #spin3:after{
    content: "";
    animation: spin3 20s linear infinite;
  }

  @keyframes spin3{
    0%{
      content: "Head coach for team number one";
    }
    33%{
      content: "Head coach for team number one";
    }
    34%{
      content: "Head coach for team number two";
    }
    66%{
      content: "Head coach for team number two";
    }
    67%{
      content: "Head coach for team number three";
    }
    100%{
      content: "Head coach for team number three";
    }
  }
  /* Features */
  .features-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-wrap: wrap;
    gap: 5rem;
    background: #bdc3c7;  /* fallback for old browsers */
    background: linear-gradient(to left, #ffffff, #ebeef0);
  }
  .features-container1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .features-container2{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .features-container3{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }

  .features-h{
    font-family: "loves";
    font-size: 1.5rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;
  }
  .features-p{
    font-family: "sourceSansLight";
    font-size: 1rem;
    text-align: center;
    margin: 1rem 1rem 1rem 1rem;

  }

  .features-image{
    max-width: 40rem;
    width: 100%;
    height: auto;
  }

  .h-divider {
    margin: auto;
    margin-top: 80px;
    width: 80%;
    position: relative;
  }
  
  .h-divider .shadow {
    overflow: hidden;
    height: 20px;
  }
  
  .h-divider .shadow:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px black;
  }
  /* Contact page */

  .contact-container{
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #E4E5F1;
   }

   .contact-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-self: center;
    width: 70%;
    text-align: center;
   }
   .contact-image{
    width: 70%;
    max-width: 30rem;
    height: auto;
   }
  .contact-header{
    font-family: "loves";
    font-size: 1.5rem;
  }
  .contact-p{
    font-family: "louis";
    font-size: 1rem;
  }

  .cssbuttons-io-button {
    background: #484C69;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    letter-spacing: 0.05em;
    border: none;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #714da6;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #686ea0;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

    /* Footer CSS */
    .footer {
      width: 100%;
      position: relative;
      height: auto;
      background-color: #4F5377;
    }
    .footer-logo{
      padding-top: 1rem;
      width: 3rem;
      height: auto;
    }
    .footer .col {
      width: 190px;
      height: auto;
      float: left;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      padding: 0px 20px 20px 20px;
    }
    .footer .col h1 {
      margin: 0;
      padding: 0;
      font-family: inherit;
      font-size: 12px;
      line-height: 17px;
      padding: 20px 0px 5px 0px;
      color: rgba(255, 255, 255, 0.685);
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.250em;
    }
    .footer .col ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .footer .col ul li {
      color: #d6d1d1;
      font-size: 14px;
      font-family: inherit;
      font-weight: bold;
      padding: 5px 0px 5px 0px;
      cursor: pointer;
      transition: .2s;
      -webkit-transition: .2s;
      -moz-transition: .2s;
    }
    
    .footer .col ul li:hover {
      color: #ffffff;
      transition: .1s;
      -webkit-transition: .1s;
      -moz-transition: .1s;
    }
    .clearfix {
      clear: both;
    }
    @media only screen and (min-width: 1280px) {
      .contain {
        width: 1200px;
        margin: 0 auto;
      }
    }
    @media only screen and (max-width: 1139px) {
      .contain .social {
        width: 1000px;
        display: block;
      }
      .social h1 {
        margin: 0px;
      }
    }
    @media only screen and (max-width: 950px) {
      .footer .col {
        width: 33%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
    }
    @media only screen and (max-width: 500px) {
        .footer .col {
          width: 50%;
        }
        .footer .col h1 {
          font-size: 14px;
        }
        .footer .col ul li {
          font-size: 13px;
        }
    }
    @media only screen and (max-width: 340px) {
      .footer .col {
        width: 100%;
      }
    }
}




